<title>{{ site.meta.title }}</title>

<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{ site.meta.description }}">


        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />



     <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />



{% block css %}
  <link href="/_assets/parcel.css" rel="stylesheet"/>

  {% if env.isDev %}
    <link href="/_assets/parcel.css.map" rel="application/json"/>
  {% endif %}
{% endblock css %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E9TYT5Q3W1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E9TYT5Q3W1');
</script>

