<footer>
  <div>
   
    <a href="index.html"><img src= "{{ 'assets/img/xcloudaction-logo.svg' | relative_url | bust_file_cache }}" class="logo"></a>
    <div class="copyright">Copyright &copy; 2023 AppBieger<br>All rights reserved.</div>
 
  </div>
  <nav><section>
      <h5>Company</h5><a href="about.html">About</a>
      <a href="privacypolicy.html">Privacy Policy</a>
      <a href="https://xcloudaction.com/download/press_kit.zip">Press Kit</a>
    </section></nav>
</footer>
<script type="text/javascript">
        AOS.init({duration: 1000, once: true});
    </script>

    
