


    <header> 
      <div class="site-width">
        <div class="mobile-nav-toggle"><a href="javascript: toggleNavigation()"><img src="assets/icons/menu.svg" class="icon"></a></div>
    
        <div class="logo-container">
          <a href="index.html">
            <img src="assets/img/xcloudactionicon.png" class="app-icon">
            <img src="assets/img/xcloudaction-logo.svg" class="logo">
          </a>
        </div>
    
        <nav>
          <a class="mobile-nav-toggle" href="javascript: toggleNavigation()"><img src="assets/icons/close.svg" class="icon"></a>
          <span> <a href="about.html">About</a></span>
    
          <a class="button button-secondary download-button" href="https://apps.apple.com/us/app/xcloud-action/id6467277650">Download</a>
        </nav>
      </div>
    </header>

