---

title: Schreib mir.

---


<!-- Services-->
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5 ">
    <h2 class="mb-4 text-center">Contact</h2>
    <div class="row">
  <div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2"></div>
  <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">

 <form action="https://formspree.io/f/mbjwravw" method="POST">
  <div class="form-group">
    <label for="name">Name </label>
    <input class="form-control" name="name" type="text" id="name" placeholder="">
  </div>
  <div class="form-group">  <br>
    <label for="email">E-Mail Adresse</label>
    <input type="email" name="_replyto" class="form-control" id="email" placeholder="">
   </div>
   <div class="form-group">  <br>
     <label for="message">Message</label>
     <textarea class="form-control" name="message" id="message" rows="3"></textarea>
   </div>
   <br>
   <button type="submit" class="btn btn-primary">Senden</button>
   </form>
</div>
<div class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2"></div>
</div>
  </div>
<br>
   <div class="container px-4 px-lg-5 ">
   <br>
   <br>
   <br>
   <br>
 By submitting this form, you agree that we may use your information to respond to your inquiry or contact you. Your data will not be passed on to third parties unless this is justified by applicable data protection regulations or we are legally obliged to do so. You can revoke this consent at any time with effect for the future. In the event of revocation, your personal data will be deleted immediately.
Otherwise, your data will be deleted when we have processed your request or the purpose of storage no longer applies. You can obtain information about the data stored about you at any time. For more information on data protection, please refer to the privacy policy of this website.

Translated with www.DeepL.com/Translator (free version)
 </div>
</section>





